* {
  box-sizing: border-box;
}

html {
  scroll-padding: 100px;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #f4f4f4;
  padding: 2%;
  width: 100%;
  top: 0;
  position:sticky;
  z-index: 1;
}

header h1 {
  margin: 0;
  font-size: 2em;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  display: inline;
  margin-right: 2%;
}

nav ul li a {
  text-decoration: none;
  color: #333333;
  font-size: 1.2em;
}

nav span:hover {
  position: relative;
  top: 10px;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-gap: 2%;
  width: 90%;
  max-width: 1200px;
  margin: 2% auto;
}

aside {
  background-color: #e9e9e9;
  padding: 2%;
}

main {
  padding: 2%;
}

section {
  margin-bottom: 40px;
}

section h2 {
  border-bottom: 1px solid #cccccc;
  padding-bottom: 10px;
}


.image-container {
  position: relative;
  width: 100%;
  margin: 2% 0;
}

.image-container img {
  width: 100%;
  height: auto;
}

.caption {
  background: rgba(0, 0, 0, 0.5);
  color: #ffffff;
  padding: 5px 10px;
  position: absolute;
  bottom: 15px;
}
